# Byte-compiled / optimised / DLL files
__pycache__/
*.py[cod]
*$py.class

# C/C++ build artifacts
*.o
*.so
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDE
.idea/
.vscode/
*.swp

# Caches
.ruff_cache/
.pytest_cache/

# OS
.DS_Store
Thumbs.db

*.mp4
benchmarks/